@font-face {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  }
  


/*-----------------------------------------------------------------------------------*/
/*  CSS Reset & Clear
/*-----------------------------------------------------------------------------------*/

html, body, div, span, figure, h1, h2, h3, h4, p, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, details, figure, figcaption, footer, header, hgroup, nav, section, img { margin: 0; padding: 0; border: 0; vertical-align: baseline; font: inherit; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: "."; }
.clearfix { display: inline-block; } 
.clearfix { display: block; }
.none { display: none; }

body {
  line-height: 1;
}
ol, ul, dl {
	margin: 0;
	padding: 0;
}

img {
	-ms-interpolation-mode: bicubic;
}
a {
	text-decoration: none;	
	-moz-transition: all 0.15s linear;
	-webkit-transition: all 0.15s linear;
	-ms-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
a:hover, a:active, a:focus {
	color: #EC5F24;	
	outline: none;	
}
strong {
	font-weight: bold;	
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input[type="text"]:focus,
input[type="submit"]:focus {
 	outline: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.relative {
	position: relative;	
}

.absolute {
	position: absolute;	
}

.syntaxhighlighter {
	border: 1px solid #efefef;
	padding: 20px 0;
	background-color: #f8f9f9 !important;
	max-height:100% !important;
}

/*-----------------------------------------------------------------------------------*/
/*  Document Setup
/*-----------------------------------------------------------------------------------*/

html {
	overflow: hidden;
}

html, body {
	height: 100%;
	background: none;
}

body {
	background: #f8f9f9;
	color: #414141;
	font: 12px/16px 'Open Sans',sans-serif;
}

/*-----------------------------------------------------------------------------------*/
/*  Top Header Menu
/*-----------------------------------------------------------------------------------*/

#navmenu-primary {
	position: relative;
	z-index: 2;
	margin-bottom: 34px;
	min-width: 990px;
	height: 80px;
	border-bottom: 1px solid #343738;
	background: #303030;
	line-height: 80px;
}

#navmenu-primary .navmenu-primary-content {
	position: relative;
	display: block;
	height: 80px;
}

#navmenu-primary .navmenu-left, #navmenu-primary .navmenu-right {
	position: absolute;
	top: 0;
	height: 80px;	
}

#navmenu-primary .navmenu-left {
	left: 20px;
}

#navmenu-primary .navmenu-right {
	right: 20px;
}

.grid-full {
	width: 100%;
}

#navmenu-primary .navmenu-left .nav-item.first {
	border-left: none;
}

#navmenu-primary .nav-large .nav-item {
	position: static;
}

.divider {
	position: relative;
	top: -60px;
	left: 0px;
	display: block;
	float: right;
	width: 1px;
	height: 60px;
	background: #FFF;
	opacity: 0.1;
}

.divider-all {
	position: relative;
	top: -60px;
	left: 0px;
	display: block;
	float: right;
	width: 100%;
	height: 60px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	opacity: 0.1;
	z-index: -1;
}

.divider-right {
	position: relative;
	top: -60px;
	left: 0px;
	display: block;
	float: right;
	width: 100%;
	height: 60px;
	border-right: 1px solid #fff;
	opacity: 0.1;
	z-index: -1;
}

.divider.first {
	top: -12px;
	left: 20px;
}

#navmenu-primary .nav-item {
	position: relative;
	display: block;
	float: left;
	height: 80px;
}

#navmenu-primary .nav-item {
	position: relative;
	display: block;
	float: left;
	height: 80px;
}

#navmenu-primary .nav-item.no-b {
	border-left: none;
}

#navmenu-primary .nav-item .nav-link {
	position: relative;
	display: block;
	color: #FFF;
	text-transform: uppercase;
}

/* .nav-item, .nav-link, .nav-text {
	-moz-user-select: none; */

/* -webkit-user-select: none; */

#navmenu-primary .nav-sprite-logo {
	margin: 12px 20px 0 0;	
}

#navmenu-primary .nav-item-logo .nav-text {
	position: relative;
	top: -12px;
}

.nav-sprite-logo {
	display: block;
	width: 210px;
	height: 50px;
	background: url(../img/logo.png) 0 -5px no-repeat;
	text-indent: -99999px;
}
/*-----------------------------------------------------------------------------------*/
/*  estilos nuevos
/*-----------------------------------------------------------------------------------*/
ul.normal {
	list-style-type: decimal-leading-zero;
  }
.margen-inferior-boton{
	margin-bottom: 80px;
}
.video{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.video::after{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
    
}
.esdacode_video{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    border: 1px solid #dbe6e6;
}


/*carrusel*/
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 0px;
	z-index: 999;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
	background:#C3DC00;
    border-radius: 50%;
    color: #121939;
    cursor: pointer;
    display: none;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 35px;
    z-index: 10;
}

.carousel-control.prev {
	left: 2%;
	
}

.carousel-control.next {
	right: 2%;
	
}

.carousel-control:hover {
    background: #121939;
    color: #fff;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #e3e3e3;
    cursor: pointer;
    display: block;
    font-size: 30px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet {
	color: #C3DC00;
	
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/*-/-carrusel-/-*/


.boton-01{
	background-color: #fff;
	padding-top: 8px;
	padding-left: 18px;
	padding-bottom: 8px;
	padding-right: 18px; 
	border-radius: 8px; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 30%;
	margin-left: 60px;
	text-decoration: none;
	
	color: #121939;
	font-weight: 700;
  }
  .boton-01:hover{
	color: #121939;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-02{
	background-color: #dcf308;
	padding-top: 8px;
	padding-left: 18px;
	padding-bottom: 8px;
	padding-right: 18px; 
	border-radius: 8px; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 30%;
	margin-left: 102px;
	text-decoration: none;
	
	color: #121939;
	font-weight: 700;
  }
  .boton-02:hover{
	color: #121939;
	background-color: #dcf308;
	border-radius: 8px; 
 
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-03{
	background-color: #1B1F3B;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-right: 8px; 
	border-radius: 8px; 
	font-size: 10px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
	margin-left: 10px;
	
	color: #fff;
	font-weight: 700;
  }
  .boton-03:hover{
	color: #fff;
	background-color: #1B1F3B;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-04{
	background-color: #dcf308;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-right: 8px; 
	border-radius: 8px; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 20%;
	text-decoration: none;
	
	
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-04:hover{
	color: #1B1F3B;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-05{
	background-color: #dcf308 !important;
	padding-top: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 8px !important; 
	border-radius: 8px !important; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 18% !important;
	text-decoration: none;
	
	
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-05:hover{
	color: #1B1F3B;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-05-v2{
	background-color: #dcf308 !important;
	padding-top: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 8px !important; 
	border-radius: 8px !important; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 28% !important;
	text-decoration: none;
	
	
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-05-v2:hover{
	color: #1B1F3B;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-05-v3{
	background-color: #dcf308 !important;
	padding-top: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 8px !important; 
	border-radius: 28px !important; 
	font-size: 18px;
	line-height: 40px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 40px;
	height: 40px;
	text-decoration: none;
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-05-v3:hover{
	color: #1B1F3B;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-06{
	background-color: #dcf308;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-right: 8px; 
	border-radius: 8px; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 32%;
	text-decoration: none;
	margin-left: 100px;
	margin-top: 10px;
	
	
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-06:hover{
	color: #1B1F3B;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-07{
	background-color: #f5f5f5 !important;
	padding-top: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 8px !important; 
	border-radius: 12px !important; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 28% !important;
	text-decoration: none;
	position: absolute;
	bottom: 270px;
	right: 200px;
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-07:hover{
	color: #1B1F3B;
	background-color: #fff;
	
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }
  .boton-08{
	background-color: #dcf308 !important;
	padding-top: 8px !important;
	padding-left: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 8px !important; 
	border-radius: 8px !important; 
	font-size: 12px;
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.4);
	position: relative;
	z-index: 999;
	display: block;
	text-align: center;
	width: 58% !important;
	text-decoration: none;
	
	
	color: #1B1F3B;
	font-weight: 700;
  }
  .boton-08:hover{
	color: #1B1F3B;
	background-color: #dcf308;
	border-radius: 8px; 
	
	cursor: pointer;
	transition: all 300ms linear;
	box-shadow: 2px 2px 5px rgba(24, 34, 70, 0.7);
  }




















/*-----------------------------------------------------------------------------------*/
/*  Top Header Menu - Ask Question Btn
/*-----------------------------------------------------------------------------------*/

#navmenu-primary .nav-btn-question {
	position: relative;
	display: inline-block;
	padding: 9px;
	white-space: nowrap;
	line-height: 28px;
	font-size: 14px;
	font-weight: 300;
	cursor: pointer;
	color: #FFF;
}

#navmenu-primary .nav-btn-question:hover {
	color:#EC5F24;	
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site
/*-----------------------------------------------------------------------------------*/

#site-container {
	position: absolute;
	top: 0;
	z-index: 1;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0 0 0 0;
	width: 100%; 
	height: 100%;	
}

#site-columns {
	position: relative;
	margin: 0 auto;
	width: auto;
	height: 100%;	
}

#site-left-column {
	position: absolute;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width: 100%;
	height: 100%;
	background: #FFF;
}

#primary-content {
	min-height: 0!important;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Left Panel & Right Panel
/*-----------------------------------------------------------------------------------*/

#right-panel {
	padding-left: 250px;
	width: 100%;
}

#left-panel {
	left: 0;
	width: 250px;
}

#left-panel .panel-content {
	background: #303863;
}

.collapsed #right-panel {
    padding-left: 65px;
}

.collapsed #left-panel {
	width: 65px;
}

.panel {
	position: absolute;
	top: 0;
	overflow: hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height: 100%;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out; 
}

.panel-content {
	width: 100% !important;
}

.panel-content.be-viewport {
	overflow-x: hidden;
	overflow-y: auto;
}

.panel-content {
    position: relative;
    z-index: 1;
	overflow: hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    height: 100%;	
	background: #f4f8ff;
}

#slide-toggle {
	position: relative;
	top: 50%;
	left: -7px;
	z-index: 2;
	display: block;
	margin-top: -20px;
	width: 20px;
	height: 40px;
	background: url(../img/slide-toggle.png) no-repeat;
	text-indent: -99999px;
	cursor: pointer;
}

.arrow-slide-left {
	position: absolute;
	top: 17px;
	left: 5px;	
	width: 6px;
	height: 6px;
	background: url(../img/arrow-slide.png) no-repeat;
}

.arrow-slide-right {
	position: absolute;
	top: 17px;
	left: 5px;		
	width: 6px;
	height: 6px;
	background: url(../img/arrow-slide.png) 0 -6px no-repeat;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Left Panel Menu
/*-----------------------------------------------------------------------------------*/

#menu ul li {
	list-style: none;	
}

.menu-label {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;	
	width: 380px;
	height: 50px;	
	cursor: pointer;
	display: inline-block;
	-webkit-backface-visibility: hidden;
}

.menu-label.no-border {
	border-top: none;	
}

.menu-label.no-border.active {
	background: #CADC31;
}

.section-menu-title {
	display: block;
	padding-left: 20px;
	color: #C3DC00;
	letter-spacing: 0.03em;
	font-weight: 600;
	font-size: 14px;
	line-height: 51px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out; 
}

.item-action-icon {
	position: relative;
	display: block;
	opacity: 0.65;
	font-size: 14px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	color: #FFFFFF;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; 
}


.menu-label:hover .section-menu-title,
.menu-label:hover .item-action-icon  {
	color: #FFFFFF;	
}


.menu-label.active .section-menu-title,
.menu-label.active .item-action-icon {
	color: #303030;	
}

.menu-label:hover .circle-icon,
.menu-label.active .circle-icon {
	color: #fff;
	text-shadow: none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background: #20a0dd;
	opacity:0.7;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Content Left Menu
/*-----------------------------------------------------------------------------------*/

.panel-container {
	display: none;
	border-bottom: 1px solid #D5D5D5;
}

/*-----------------------------------------------------------------------------------*/
/*  Main Global Site - Panel Header Right Side
/*-----------------------------------------------------------------------------------*/

.panel-header .button-light {
	margin-top: 12px;
	margin-right: 3px;
}

.button-light.icon-refresh {
	text-indent: -99999px;
	min-width: 10px;
}

.button-light.icon-settings {
	text-indent: -99999px;
	min-width: 20px;	
}

.icon-refresh:after {
	content: "";
	background-image: url(../img/refresh.png);
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 2px;
	left: 4px;
}

.icon-settings:after {
	content: "";
	background-image: url(../img/settings.png);
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	top: 2px;
	left: 9px;
}

.fix-panel {
	top: -20px;
}

.box-master {
	padding: 50px 40px 20px;	
}

.box-list-posts {
	position: relative;
}

.box-post {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-size: 13px;
	line-height: 1.4;
	margin-bottom: 20px;
	position: relative;
}

.box-post-content {
	margin: 0;
	position: relative;
}

.prof-user-badge {
	float: left;
	margin: 0 0 0 -68px;
	padding: 0;
	border-radius: 100%;
	border: 1px solid #D7D7D7;	
}

.box-post-header {
	text-align: center;
	padding: 0 20px;
}

.box-post-header h3.c-name {
	color: #414141;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: - 0.04em;
}

.box-post-header h4.credits {
	color: #A9A9A9;
	font-size: 14px;
	font-weight: 400;
    margin: 5px 0 0;
}

.box-post-header h4.credits a {
	color: #414141;
}

.box-post-header h4.credits a:hover {
	color: #EC5F24;	
}

.box-post-header span.c-details {
	color: #A5A5A5;
	font-size: 11px;
	font-weight: normal;	
}

.box-post-container {
	padding: 0px 20px 0 20px;	
}

.box-post-container h3.c-title {
	color: #414141;
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0;
	padding-top: 40px;
	border-top: 1px solid #EEEEEE;	
}

.box-post-container .c-text {
	color: #414141;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.box-post-container .c-text ul {
	list-style: square!important;
	margin-left: 20px;
}

.box-post-container .c-text ul li {
	padding-left: 10px;
	margin-bottom: 10px;
}

.box-post-container .c-text ul li ul {
	margin: 8px 0 0 16px;
}

.box-post-container .c-text ul li a {
	font-weight: bold;
	color: #20a0dd;	
}

.box-post-container .c-text ul li a:hover {
	color: #333;	
}

.box-post-container .c-text p {
	margin-bottom: 20px;	
}

.box-post-container .c-text p.last {
	margin-bottom: 0px;	
}

.box-post-container .c-text p strong {
	color: #333;
	font-weight: 600;
}

.box-post-container .c-text a {
	font-weight: bold;
	color: #333;	
}

.box-post-container .c-text a:hover {
	font-weight: bold;
	color: #EC5F24;	
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
    position: absolute;
    bottom: -53px;
    left: -22px;
    z-index: 2;
    width: 120%;
    height: 32px;
    background: none repeat scroll 0 0 #242424;
}